@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #202124;
}

a, li {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    padding-top: 10px;
    padding-left: 550px;
}

li {
    display: inline-block;
    text-align: center;
    padding: 0px 10px;
    list-style: none;
}

li a {
    transition: all 0.3s ease 0s;
}

li a:hover {
    color: #fd8054
}

#USA {
    margin: auto;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#CAN {
    margin: auto;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#CHI {
    margin: auto;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#USA, #CAN, #CHI {
    background-color: #ffffff;
    position: absolute;
    width: 400px;
    height: 300px;
}

#arrow-USA {
    border-bottom: 10px solid #ffffff;
    width: 45%;
    transform: rotate(35deg);
    transform-origin: left;
    position: absolute;
    left: 450px;
    top: 400px;
    width: 300px;
}

#arrow-CHI {
    border-bottom: 10px solid #ffffff;
    width: 45%;
    transform: rotate(-35deg);
    transform-origin: right;
    position: absolute;
    right: 450px;
    top: 400px;
    width: 300px;
}

#arrow-CAN {
    background-color: #ffffff;
    height: 175px;
    width: 10px;
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#all {
    background-color: #ffffff;
    margin: auto;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 500px;
    height: 300px;
}