@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body {
    background-color: #202124;
}

/* Myself */
.USA {
    left: 22.5vw;
    background-color: #5fddf6;
}

.USA > p, .CAN > p, .CHI > p {
    font-weight: 700;
    font-size: 0.8187vw;
}

.CAN {
    left: 50vw;
    background-color: #ffffff;
}

.CHI {
    left: 77.5vw;
    background-color: #f3d17b;
}

.USA, .CAN, .CHI {
    transform: translate(-50%, -50%);
    margin: auto;
    position: absolute;
    width: 22.5vw;
    height: 40vh;
    top: 22.5vh;
    transition: 0.75s;
    border-radius: 1vw;
}

.all {
    background-color: #ffffff;
    top: 81vh;
    left: 50vw;
    width: 24.5vw;
    height: 35vh;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    border-radius: 1vw;
}

.all > p {
    font-weight: 700;
    font-size: 0.8187vw;
}

/* Myself Arrows */ 
#arrow-USA {
    transform: rotate(35deg);
    transform-origin: left;
    left: 22.5vw;
}

#arrow-CHI {
    transform: rotate(-35deg);
    transform-origin: right;
    right: 22.5vw;
}

#arrow-CAN {
    background-color: #ffffff;
    height: 12.5vh;
    width: 1.15vh;
    position: absolute;
    top: 52.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 1vw;
}

#arrow-USA, #arrow-CHI {
    border-bottom: 0.6vw solid #ffffff;
    position: absolute;
    width: 12.5vw;
    top: 42vh;
    border-radius: 1vw;
}

/* Family Tree Div Boxes */
#Albert {
    transform: translate(-50%, -50%);
    top: 60vh;
    left: 30vw;
    background-color: #b1f8ff;
}

#Bing {
    transform: translate(-50%, -50%);
    top: 40vh;
    left: 30vw;
    background-color: #facef2;
}

#Mom, #Dad {
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 45vw;
    background-color: #b1f8ff;
}

#Mom {
    background-color: #facef2;
}

#Grandfather-F, #Grandfather-M {
    transform: translate(-50%, -50%);
    top: 70vh;
    left: 60vw;
    background-color: #b1f8ff;
}

#Grandmother-F, #Grandmother-M {
    transform: translate(-50%, -50%);
    top: 30vh;
    left: 60vw;
    background-color: #facef2;
}

#Great-grandfather-F-1, #Great-grandfather-M-1 {
    top: 0vh;
    right: 20vw;
    background-color: #b1f8ff;
}

#Great-grandmother-F-1, #Great-grandmother-M-1 {
    top: 25vh;
    right: 20vw;
    background-color: #facef2;
}

#Great-grandfather-F-2, #Great-grandfather-M-2 {
    bottom: 25vh;
    right: 20vw;
    background-color: #b1f8ff;
}

#Great-grandmother-F-2, #Great-grandmother-M-2 {
    bottom: 0vh;
    right: 20vw;
    background-color: #facef2;
}

#Albert, #Bing, #Mom, #Dad, #Grandmother-M, #Grandfather-M, #Great-grandfather-M-1, #Great-grandmother-M-1, #Great-grandfather-M-2, #Great-grandmother-M-2, #Grandfather-F, #Grandmother-F,#Great-grandfather-F-1, #Great-grandmother-F-1, #Great-grandfather-F-2, #Great-grandmother-F-2 {
    width: 6vw;
    height: 17vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    text-align: center;
    border-radius: 1vw;
    padding-left: 0.1vw; padding-right: 0.1vw;
}

/* Family Tree Arrows */
#arrow-1-M, #arrow-2-M, #arrow-3-M, #arrow-4-M, #arrow-5-M, #arrow-6-M, #arrow-7-M, #arrow-8-M, #arrow-1-F, #arrow-2-F, #arrow-3-F, #arrow-4-F, #arrow-5-F, #arrow-6-F, #arrow-7-F, #arrow-8-F {
    border-bottom: 1vh solid #ffffff;
    position: absolute;
    width: 17.5vh;
    border-radius: 1vw;
}

#arrow-1-F, #arrow-1-M {
    transform: rotate(-37.5deg);
    transform-origin: right;
    right: 28vw;
    top: 7.5vh;
}

#arrow-2-F, #arrow-2-M {
    transform: rotate(20deg);
    transform-origin: right;
    right: 27.5vw;
    top: 35vh;
}

#arrow-3-F, #arrow-3-M {
    transform: rotate(-20deg);
    transform-origin: right;
    right: 27.5vw;
    bottom: 35vh;
}

#arrow-4-F, #arrow-4-M {
    transform: rotate(37.5deg);
    transform-origin: right;
    right: 28vw;
    bottom: 7.5vh;
}

#arrow-5-F, #arrow-5-M {
    transform: rotate(-45deg);
    transform-origin: right;
    right: 45vw;
    top: 30vh;
}

#arrow-6-F, #arrow-6-M {
    transform: rotate(45deg);
    transform-origin: right;
    right: 45vw;
    bottom: 30vh;
}

#arrow-7-F, #arrow-7-M {
    transform: rotate(40deg);
    transform-origin: left;
    right: 57.5vw;
    top: 35vh;
}

#arrow-8-F, #arrow-8-M {
    transform: rotate(-40deg);
    transform-origin: left;
    right: 57.5vw;
    bottom: 35vh;
}

.family {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Close Family */
.MOM, .DAD {
    top: 42.5vh;
    margin: auto;
    position: absolute;
    width: 35vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    border-radius: 1.5vw;
}

.MOM {
    left: 30vw;
    background-color: #facef2;
}

.DAD {
    left: 70vw;
    background-color: #b1f8ff;
}

.MOM > h1 {
    font-size: 2vw;
    text-align: center;
}

.DAD > h1 {
    font-size: 2vw;
    text-align: center;
}

.home-bg {
    background-image: url("imgs/china.jpg");
    background-size: 100% auto;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#hard-describe {
    font-weight: 900;
    font-size: 6vh;
    top: 15vh;  
}

#culture {
    font-weight: 800;
    font-size: 4vh;
    top: 27.5vh;
}

#button {
    font-weight: 700;
    font-size: 3vh;
    top: 79vh;
}

#hard-describe, #culture, #button {
    color: black;
    opacity: 80%;
    background-color: white;
    border-radius: 2vw;
    position: absolute;
    text-align: center;
    left: 12.5vw;
    width: 29vw;
    width: 29vw;
    padding: 1vh;
    border: none;
    text-decoration: none;
}

#img {
    top: 0;
    right: 0;
    position: relative;
    width: 3vw;
    border-radius: 0.4vw;
}

.COUNTRY-INFO {
    position: relative;
    font-size: .8vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.USA:hover, .CAN:hover, .CHI:hover {
    scale: 112.5%;
}

.all:hover {
    scale: 112.5%;
}

#USA-2, #CAN-2, #CHI-2 {
    width: 3vw;
    position: absolute;
    top: 0;
    border-radius: 0.4vw;
}

#USA-2 {
    left: 0;
}

.m {
    right: 14vw;
    position: absolute;
}

#CHI-2 {
    right: 0;
}
 
.COUNTRY-INFO-ALL {
    padding-top: 3.5vh;
    position: relative;
    font-size: .8vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.map{
    width: 7.5vw;
    transition: 0.75s;
    position: absolute;
    top: 25vh;
    right: 0vw;
    z-index: 5;
    border-radius: .4vw;
}

.map:hover {
    scale: 467%;
    position: absolute;
    transform-origin: right;
    z-index: 5;
}

.family-text {
    padding: 1vh;
    font-size: 3vh;
}

.impact {
    width: 20vw;
    height: 47vh;
    background-image: url(imgs/iceberg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    transform: translate(-50%, -50%);
    left: 55vw;
    transition: 1s ease;
    top: 27.5vw;
    scale: 0;
    border: 1vw solid #202124;
    border-radius: 2.5vw;
    text-align: center;
}

.fam {
    z-index: 2;
    height: 7.5vh;
    width: 20vw;
    position: absolute;
    top: 85vh;
    left: 40vw;
    cursor: pointer;
    opacity: 0;
}

.fam:checked ~ .impact {
    position: absolute;
    scale: 150%;
}

.but {
    z-index: 1;
    height: 7.5vh;
    width: 15vw;
    position: absolute;
    top: 85vh;
    left: 42.5vw;
    border-radius: 20vw;
    transition: 1s;
    font-size: 2.25vw;
    cursor: pointer;
    font-weight: 700;
}

.fam:checked ~ .but {
    scale: 50%;
    border-radius: 20vw;
}

.fam:checked {
    scale: 37.5%;
    border-radius: 20vw;
}

.impact > h1{
    font-size: 1.5vw;
    font-weight: 900;
    color: #202124;
}

.dad, .mom {
    font-weight: 600;
}

.butts > button {
    width: 2.5vw;
    height: 2.5vw;
    color: black;
    position: absolute;
    text-align: center;
    font-size: 0.3vw;
    background-color: #202124;
    border: none;
    color: white;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    z-index: 1;
    transition: .4s;
}

.butts > input {
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    opacity: 0;
    cursor: pointer;
    transition: .4s;
}

.button1 {
    left: 7.75vw;
    top: 5vh;
}

#food {
    left: 8vw;
    top: 5.5vh;
}

.button2 {
    left: 9vw;
    top: 17.5vh;
}

#traditions {
    left: 9.25vw;
    top: 18vh;
}

.button3 {
    left: 5vw;
    top: 10vh;
}

#sports {
    left: 5.25vw;
    top: 10.5vh;
}

.button4 {
    left: 13vw;
    top: 30vh;
}

#attitude {
    left: 13.25vw;
    top: 30.5vh;
}

.button5 {
    left: 8.3vw;
    top: 31.5vh;
}

#tempo {
    left: 8.5vw;
    top: 32vh;
}

.button6 {
    left: 5vw;
    top: 23vh;
}

#conversations {
    left: 5.25vw;
    top: 23.5vh;
}

.button7 {
    left: 10vw;
    top: 40.5vh;
}

#cleanliness {
    left: 10.25vw;
    top: 41vh;
}

.button8 {
    left: 14vw;
    top: 22vh;
}

#parenting {
    left: 14.25vw;
    top: 22.5vh;
}

.button9 {
    left: 12vw;
    top: 9.5vh;
}

#games {
    left: 12.25vw;
    top: 10vh;
}

.button10 {
    left: 15.5vw;
    top: 14vh;
}

#art {
    left: 15.75vw;
    top: 14.5vh;
}

.butts > .food, .traditions, .sports, .attitude, .tempo, .conversations, .cleanliness, .parenting, .games, .art {
    width: 100%;
    height: 22.5vh;
    position: absolute;
    top: 0;
    transition: 1s;
    z-index: 1;
    scale: 0;
    left: 0vw;
    border-radius: 1vw;
    background-color: #202124;
}

#food:checked ~ .food{
    scale: 100%;
    z-index: 3;
}

#traditions:checked ~ .traditions{
    scale: 100%;
    z-index: 3;
}

#sports:checked ~ .sports{
    scale: 100%;
    z-index: 3;
}

#attitude:checked ~ .attitude{
    scale: 100%;
    z-index: 3;
}

#tempo:checked ~ .tempo{
    scale: 100%;
    z-index: 3;
}

#conversations:checked ~ .conversations{
    scale: 100%;
    z-index: 3;
}

#cleanliness:checked ~ .cleanliness{
    scale: 100%;
    z-index: 3;
}

#parenting:checked ~ .parenting{
    scale: 100%;
    z-index: 3;
}

#games:checked ~ .games{
    scale: 100%;
    z-index: 3;
}

#art:checked ~ .art{
    scale: 100%;
    z-index: 3;
}

h2 {
    color: white;
    font-size: 1.1vw;
    font-weight: 900;
}

li {
    color: white;
    list-style-position: inside;
    font-size: 0.75vw;
    padding-left: 6.5vw;
    padding-right: 6.5vw;
}

.img{
    height: 15.5vh;
    top: 2.9vh;
    position: absolute;
    border-radius: 1vw;
    transition: 0.5s;
}

#left {
    left: 0.4vw;
}

#right {
    right: 0.4vw;
}

.img:hover {
    scale: 150%;
}

.connection-s,.connection-y {
    background-color: #202124;
    width: 30vw;
    height: 32.5vh;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 62.5vh;
    border-radius: 3vw;
}

.con {
    transform: translate(-50%, -50%);
    color: white;
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 2.5vh;
    font-weight: 600;
    font-size: 1.5vw;
}

.line {
    width: 0.3vw;
    z-index: 4;
    height: 27vh;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
}

.then {
    left: 0;
}

.now {
    right: 0;
}


.thenp, .nowp {
    color: white;
    position: absolute;
    z-index: 4;
    font-size: 1.8vh;
    top: 4vh;
    padding: 1vw;
}

.now, .then {
    z-index: 5;
    width: 15vw;
    height: 32.5vh;
    border-radius: 3vw;
    position: absolute;
}

.thenh {
    left: 50%;
}

.thenn {
    right: 35%;
}

.thenh, .thenn {
    color: white;
    z-index: 4;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 12.5%;
    font-weight: 700;
    font-size: 1.25vw;
}

span {
    color: #202124;
    width: 35vw;
    position: absolute;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 35vh;
    font-size: 2.75vh;
    padding: 2vw 2vh;
    border-radius: 2vw;
    animation: scaleinAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.asas {
    font-size: 4vh  ;
    font-weight: 900;
}

b {
    font-weight: 800;
}


@keyframes scaleinAnimation {
    0% {
        scale: 0%;
    }
    100% {
        scale: 100%;
    }
}

#learn {
    color: #202124;
    width: 35vw;
    position: absolute;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 75vh;
    font-size: 2.75vh;
    padding: 1vw 1vh;
    border-radius: 2vw;
    animation: scaleinAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-weight: 800;
}

#gitlogo {
    position: absolute;
    height: 7.5vh;
    width: 7.5vh;
    left: 97vw;
    top: 95vh;
    border-radius: 50%;
    border: none;
    transform: translate(-50%, -50%);
}

#code {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 95vw;
    top: 95vh;
    width: 10vw;
    font-size: 1vw;
    font-weight: 600;
}
